@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-w-section {
    max-width: 1440px;
  }

  .no-scroll::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-family: var(--font-montserrat);
}
